html,
body {
  height: 100%; /*Fixes the height to 100% of the viewport*/
}
body {
  padding-top: 25px; /*50px for the height of the navbar + 37px for the offset*/
  padding-bottom: 50px; /*50px for the height of the bottom navbar*/
}

#mobileNav {
  display: none;
}
#desktopNav {
  display: flex;
}

.ui.grid > .row {
  padding-bottom: 0;
}

.banner {
  padding: 50px;
  background-image: url("../images/banner_default.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.banner > .ui.basic.button {
  background: white !important;
}

#advertisement {
  background-image: url("../images/QnA_Image.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
}

.ui.grid {
  padding-right: 15px;
}

.ui.feed {
  padding-top: 50px;
}

.ui.feed > .event:first-child.answers {
  padding: 10px;
}

.ui.vertical.menu {
  width: 12rem;
}

@media only screen and (max-width: 850px) {
  #sidebar {
    display: none;
  }
  #advertisement {
    display: none;
  }
  #qna {
    width: 100%;
  }
  #desktopNav {
    display: none;
  }
  #mobileNav {
    display: flex;
  }
}
